.task
frontend/node_modules
/frontend/bindings/
frontend/dist
.agents/
.agent/
.idea/
dist/
.roo/
.opencode/
.kilocode/
openspec/
.opencode/

/build/frontend/
/build/.task/
/build/bin/
/bin

*/**/.DS_Store

