.task
frontend/node_modules
/frontend/bindings/
frontend/dist
/decky-plugin/node_modules
.agents/
.idea/
dist/
.roo/
.opencode/
.kilocode/
openspec/
.serena/

.serena
/build/frontend/
/build/.task/
/build/bin/
/bin
node_modules

*/**/.DS_Store
.DS_Store

