.task
frontend/node_modules
/frontend/bindings/
frontend/dist
/decky-plugin/node_modules
.agents/
.idea/
dist/
.roo/
.opencode/
.kilocode/
openspec/
.serena/

/build/frontend/
/build/.task/
/build/bin/
/bin
/.flatpak/
/.flatpak-builder/
/flatpak_app/
/repo/
/build/flatpak/io.github.remakecode.sentinel.metainfo.xml
node_modules

*/**/.DS_Store
.DS_Store
AGENTS.md
/decky-plugin/out/
/decky-plugin/src/shared/types/_generated/
