// Oat UI CSS imports
@import '@knadh/oat/css/00-base.css';
@import '@knadh/oat/css/01-theme.css';
@import '@knadh/oat/css/accordion.css';
@import '@knadh/oat/css/alert.css';
@import '@knadh/oat/css/animations.css';
@import '@knadh/oat/css/badge.css';
@import '@knadh/oat/css/button.css';
@import '@knadh/oat/css/card.css';
@import '@knadh/oat/css/dialog.css';
@import '@knadh/oat/css/form.css';
@import '@knadh/oat/css/grid.css';
@import '@knadh/oat/css/progress.css';
@import '@knadh/oat/css/sidebar.css';
@import '@knadh/oat/css/skeleton.css';
@import '@knadh/oat/css/spinner.css';
@import '@knadh/oat/css/table.css';
@import '@knadh/oat/css/tabs.css';
@import '@knadh/oat/css/toast.css';
@import '@knadh/oat/css/tooltip.css';
@import '@knadh/oat/css/utilities.css';


@font-face {
  font-family: 'Raleway';
  src: url('src/assets/fonts/Raleway.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-weight: 400 900;
}

:root {
  --game-card-width: 160px;
  --game-card-height: 210px;
  --blue: #0557c8;
  --blue-foreground: #7ab1f4;
  --font-sans: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}


body {
  margin: 0;
}

hr.divider {
  border-bottom: 1px solid var(--border);
  margin: var(--space-5) 0;
}

.full-layout {
  min-height: 100vh;
  background-color: var(--background);
  padding: 0; //Resets Oat's padding on main
}

.page-content {
  padding-block: var(--space-10);
  padding-inline: var(--space-10);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: var(--space-2);

  > img {
    border-radius: var(--radius-large);
  }

  &-text {
    display: flex;
    flex-direction: column;
    line-height: 1;

    &-label {
      font-size: var(--text-4);
    }

    &-meta {
      color: var(--warning);
      opacity: 0.8;
      font-size: var(--text-8);
    }
  }

}

progress {
  -webkit-appearance: none;
  border: 1px solid var(--faint-foreground);
  opacity: 1;

  &::-webkit-progress-bar {
    background-color: transparent;
  }
}

