.header {
  background-color: var(--card);
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--shadow-small);
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 10;
  padding-inline: var(--space-10);
  view-transition-name: none;

  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);

    > h2 {
      margin: 0;
    }
    > a {
      line-height: normal;
    }
  }
}
