.settings {
  &-header {
    gap: var(--space-3);
  }
  &-section {
    margin-block-start: var(--space-12);

    &-title {
      display: flex;
      align-items: center;
      gap: var(--space-1);
      margin-block-end: var(--space-5);
    }
  }

  &-table {
    border: 1px solid var(--border);
    padding: var(--space-5);
    border-radius: var(--radius-medium);
    margin-bottom: var(--space-12);
    background: var(--primary-foreground);

    table {
      width: 100%;
      border-collapse: collapse;
    }

    &-cell-type {
      width: 10%;
      min-width: 80px;
    }

    &-cell-path {
      width: 70%;
      min-width: 200px;

      code {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        background: none;
      }
    }


    @media (min-width: 1280px) {
      &-cell-type {
        width: 10%;
      }

      &-cell-path {
        width: 70%;
        line-clamp: 2;
      }

      &-cell-actions {
        width: 20%;
      }
    }

    &-actions {
      text-align: right;

      .label {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      >svg {
        cursor: pointer
      }

      .disabled {
        cursor: not-allowed;
        opacity: 0.2
      }
    }

    &-steam-api {
      &-form {
        flex-direction: column;
        max-width: 600px;

        .form-inline {
          display: flex;
          align-items: start;
          justify-content: center;
          gap: var(--space-2);

          > :is(button) {
            margin-block-start: var(--space-1);

          }
        }
      }


      &-display {
        display: flex;
        gap: var(--space-2);
        padding-block-start: var(--space-2);
        align-items: center;
        color: var(--muted-foreground);

        code {
          padding: var(--space-1) var(--space-2);
          border-radius: var(--radius-small);
          font-size: var(--text-sm);
        }
      }
    }

  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
